real-gallery, real-gallery>gallery {
    display: inline-block;
}
real-gallery>slider {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
real-gallery>slider>slides {
    height: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
real-gallery>slider slide {
    height: 100%;
    display: inline-block;
}
/*real-gallery.animate>slider slides {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}*/

real-gallery>slider img {
    display: block;
}
real-gallery>slider img.maxH {
    position: relative;
    width: auto;
    height: 100%;
    left: 50%;
}
real-gallery>slider img.maxW {
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
}
real-gallery:not(.active)>slider {
    visibility: hidden;
}
real-gallery nav {
    display: inline-block;
    position: absolute;
}
/************************
Navigation buttons
*************************/

real-gallery exit, real-gallery forward, real-gallery back {
    position: absolute;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.4), -1px 0px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(0, 0, 0, 0.4), 0px -1px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: text-shadow 0.2s ease-in-out;
    -ms-transition: text-shadow 0.2s ease-in-out;
    transition: text-shadow 0.2s ease-in-out;
}
real-gallery exit:hover, real-gallery forward:hover, real-gallery back:hover {
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 1), -1px 0px 0px rgba(0, 0, 0, 1), 0px 1px 0px rgba(0, 0, 0, 1), 0px -1px 0px rgba(0, 0, 0, 1);
}
real-gallery exit:before{
	content: '×';
}
real-gallery forward:before{
	content: '>';
}
real-gallery back:before{
	content: '<';
}
real-gallery exit {
    font-size: 40px;
    font-family: Arial, sans-serif;
    color: white;
    left: 10px;
}
real-gallery forward, real-gallery back {
	font-size: 40px;
	font-family: cursive;
	color: white;
	top: calc(50% - 30px);
}
real-gallery forward {
	right: 15px;
}
real-gallery back {
	left: 15px;
}
/************************
End of Navigation buttons
*************************/
