real-gallery, real-gallery>gallery {
    display: inline-block;
}
real-gallery>slider {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
real-gallery>slider>slides {
    height: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
real-gallery>slider slide {
    height: 100%;
    display: inline-block;
}
/*real-gallery.animate>slider slides {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}*/

real-gallery>slider img {
    display: block;
}
real-gallery>slider img.maxH {
    position: relative;
    width: auto;
    height: 100%;
    left: 50%;
}
real-gallery>slider img.maxW {
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
}
real-gallery:not(.active)>slider {
    visibility: hidden;
}
real-gallery nav {
    display: inline-block;
    position: absolute;
}
real-gallery back, real-gallery forward, real-gallery exit {
    position: absolute;
    display: inline-block;
    background-image: url('../img/sprites.png');
    opacity: 0.4;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
real-gallery back:hover, real-gallery forward:hover, real-gallery exit:hover {
    opacity: 1;
}
real-gallery forward, real-gallery forward.white {
    background-position: 30px 0px;
}
real-gallery forward.black {
    background-position: 0px 0px;
}
real-gallery back, real-gallery back.white {
    background-position: 15px 0px;
}
real-gallery back.black {
    background-position: -15px 0px;
}
real-gallery exit, real-gallery exit.white {
    background-position: 30px 26px;
}
real-gallery exit.black {
    background-position: 0px 26px;
}
real-gallery back, real-gallery forward {
    top: 49%;
    top: -webkit-calc(50% - 11px);
    top: -moz-calc(50% - 11px);
    top: calc(50% - 11px);
    width: 15px;
    height: 22px;
}
real-gallery back {
    left: 2%;
}
real-gallery forward {
    right: 2%;
}
real-gallery exit {
    width: 26px;
    height: 26px;
    top: 1%;
    right: 1%;
}
